@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@import "tailwindcss";
@font-face {
    font-family: "Neteru";
    src: url("/fonts/Neteru.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
  overscroll-behavior: none;
}


* {
    font-family: "Manrope";
}

.amharic-text {
    font-family: "Neteru";
}
